<div class="product-list container">
  <h2 class="text-center my-4"><i class="bi bi-box"></i> Product List</h2>
  
  <!-- Displaying products -->
  <div *ngIf="products.length === 0" class="no-products-message">
    <p>No products available.</p>
  </div>
  
  <div class="row">
    <div *ngFor="let product of products" class="col-lg-4 col-md-6 col-sm-12 mb-4">
      <div class="product-item card shadow-sm">
        <img [src]="product.image_path" alt="{{ product.product_name }}" class="product-image card-img-top" />
        <div class="card-body">
          <h3 class="card-title">{{ product.product_name }}</h3>
          <p class="card-text">{{ product.product_description }}</p>
          <p><strong>Price:</strong> ${{ product.product_price }}</p>
          <button (click)="deleteProduct(product.id)" class="btn btn-danger w-100">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
