<nav [class.nav-open]="isSidebarOpen">
    <div class="hamburger" (click)="toggleSidebar()">
      <div></div>
      <div></div>
      <div></div>
    </div>
    <ul>
      <li><a routerLink="/admin/dashboard">Dashboard</a></li>
      <li><a routerLink="/admin/newproduct">New Product</a></li>
      <li><a routerLink="/admin/productlist">Product List</a></li>
      <li><a routerLink="/admin/analytics">Analytics</a></li>
      <li><a routerLink="/admin/users">Users</a></li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
  