<nav [class.nav-open]="isSidebarOpen">
  <div class="hamburger" (click)="toggleSidebar()">
    <div></div>
    <div></div>
    <div></div>
  </div>

  <!-- Logo Section with Formal Attire Icon -->
  <div class="logo-container text-center py-4">
    <!-- Formal Attire Icon -->
    <i class="bi bi-person-circle" style="font-size: 3rem; color: #fff;"></i>
    <p class="mt-2" style="color: #fff; font-size: 1.0rem;">Welcome Back! </p>
    <h2 class="mt-2" style="color: #fff; font-size: 2.1rem;">Formal Wear</h2>
  </div>

  <!-- Navigation Links -->
  <ul>
    <li>
      <a routerLink="/rent">
        <i class="bi bi-box-seam"></i> Rent A Product
      </a>
    </li>
    <li>
      <a routerLink="/profile">
        <i class="bi bi-cart"></i> Cart
      </a>
    </li>
  </ul>
  <!-- Logout button -->
  <div class="logout-container">
    <button (click)="logout()" class="logout-btn btn btn-danger w-100 text-white py-2">
      <i class="bi bi-box-arrow-right"></i> Logout
    </button>
  </div>
</nav>

<router-outlet></router-outlet>
